// Main Styles

@import 'helpers'
@import 'fonts'

input
  outline none
  
body
  font-size 62.5%
  font-family 'Lato', helvetica
  background-color #ddd
  vertical-gradient #fff, #ddd
  background-position bottom center
  background-repeat no-repeat
  margin 0
  padding 0
  min-height 50em
  color #777
  text-shadow 1px 1px 1px white
  
a, a:visited
  color #247B9E
  -webkit-transition color 0.3s linear

a:hover
  color #02B1F7
 
// SIGN IN VIEW

#signIn
  top 0px
  bottom 0px
  left 0px 
  right 0px
  position absolute
  width 100%
  height 100%
  background-color #ddd
  vertical-gradient #fff, #ddd
  background-position bottom center
  background-repeat no-repeat
  text-align center

  h1
    margin 10em 0em 1em
    font-size 20pt
    color #888
    font-weight 300

  input[type="text"]
    text-align center
    font-size 20pt
    padding 5px
    border solid 1px #ccc
    color #555
    round 5px

#signInError
  margin-top 10px
  color #FF5555
  font-size 12pt
  round 5px


// MAIN VIEW

#wrapper
  margin 0 auto
  width 96em

#header
  float left
  clear both
  margin 1em 0em
  text-align left

#logo
  float left
  height 5em

#name
  color black
  float left
  margin 5px 20px
  font-size 3.6em
  font-weight 300  

// Define two column layout

#left
  float left
  clear both
  
  #messageContainer
    border solid 1px #ccc
    round(5px)
    width 90em
    min-height 45em
    
    border 0px solid rgba(0,0,0,0.49)
    border-radius 10px
    background-image -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf)
    background-image -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9))
    box-shadow inset 0px 3px 14px 1px rgba(0,0,0,0.25)        
    
  #messages
    overflow hidden
    height 44em
    padding 1em 2em 0em

    .message:first
      margin-top 2em
      
    .message:last
      margin-bottom 2em

    .message
      clear left
      font-size 12pt
      padding 10px
       
      .user
        font-weight bold
        float left
        width 100px
    
      .body
        float left
       
  form#sendMessage
    position relative
    background #444
    
    width 88em
    margin-top 2em
    padding 1em
    height 5em
    round 10px
    box-shadow inset 0 0 12px 15px rgba(0,0,0,0.25)
    vertical-gradient #333, #444
    background-position bottom center
    background-repeat no-repeat
      
    #newMessage
      font-size 16pt
      padding 0.5em
      width 26.35em
      margin-right 0.5em
      round 10px
      border none
      color white
      background none
      text-shadow 1px 1px 1px black
    
    #sendButton
      width 4em
      padding 0.5em
      float right
      font-size 16pt
      border none
      round 10px
      background #7DD629
      vertical-gradient #7DD629, #559716
      color white
      text-shadow 1px 1px 1px #39680D
      -webkit-transition box-shadow 0.3s linear
      
    input[type='submit']:hover
      box-shadow 0 0 10px 4px rgba(123,255,0,0.5)
      cursor pointer


